.portfolio-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

@media screen and (max-width: 1025px) {
    .portfolio-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
}