.sidebar-container {
    font-family: 'Lato', sans-serif;
    background: #7A40F2;
    margin: 20px;
    padding: 25px 0px 25px 30px;
    width: 200px;
    border-radius: 12px;
    height: auto;


    nav {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        .sidebar__item-container {
            z-index: 20;
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: row;
            text-decoration: none;
            color: white;
            margin: 15px 0px 15px 0px;
            cursor: pointer;
            font-size: 24px;
            width: 100%;
            box-sizing: border-box;

            p { 
                position: relative;
                margin: 2px 0 0 15px;
                font-size: 18px;
                width: 100%;
                &:after {
                    content: "";
                    -webkit-transition: 0.6s;
                    transition: 0.6s;
                    transition-timing-function: cubic-bezier(0.4, 0.6, 0.8, 1);
                }
                &:before {
                    content: "";
                    -webkit-transition: 0.6s;
                    transition: 0.6s;
                    transition-timing-function: cubic-bezier(0.5, 0.6, 0.8, 1);
                }
            }
            &:after {
                position: absolute;
                right: 0;
                top: -9px;
                content: "";
                width: 0px;
                height: 42px;
                -webkit-transition: 0.25s;
                transition: 0.25s;
                border-radius: 24px 0px 0px 24px;
                transition-timing-function: cubic-bezier(0.05, 0.2, 0.4, 1);
            }

            &:hover {
                -webkit-text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.6);
                -moz-text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.6);
                text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.6);
            }
        }
        .sidebar__item-container.active {
            p:after {
                position: absolute;
                content: "";
                width: 24px;
                height: 24px;
                background-color: transparent;
                box-shadow: 2px 10px 1px #11151E;
                border-radius: 0px 0px 50% 0px;
                top: -35px;
                right: 0px;
            }
            p:before {
                position: absolute;
                content: "";
                width: 24px;
                height: 24px;
                box-shadow: 2px -10px 1px #11151E;
                border-radius: 0px 50% 0px 0px;
                bottom: -33px;
                right: 0px;
            }
            &:after {
                width: calc(100% + 15px);
                background: #11151E;
                z-index: -5;
            }
        }

    }
}



@media screen and (max-width: 1025px) {
    .sidebar-container {
        width: calc(100% - 40px);
        box-sizing: border-box;
        padding: 25px 30px 25px 30px;
    
        nav {
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: row;

            .sidebar__item-container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;

                p {
                    width: auto;
                }
            }
    
            .sidebar__item-container.active {
                p:after {
                    display: none;
                }
                p:before {
                    display: none;
                }
                &:after {
                    height: 40px;
                    width: 100%;
                    background: #11151E;
                    z-index: -5;
                    border-radius: 12px;
                }
            }
    
        }
    }    
}