// Fonts
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf") format("ttf"),
        url("../fonts/Lato-Light.ttf") format("ttf"),
        url("../fonts/Lato-Bold.ttf") format("ttf");
}



// Global
html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
  
    body {
        margin: 0;
        padding: 0;
        background: white;
        font-family: 'Lato', Arial, sans-serif;
        font-size: 17px;
        background: #0F151E;
    }
}